# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so

# Django
*.log
BACKUP.db.sqlite3
db.sqlite3
# Environment
.env

# IDE
.idea/
*.swp
*.swo
*.swn

# Static and media files
/staticfiles/
/media/*
!/media/avatars/default_avatar.png